<?php
$dataCollection = Mage::getModel('twodev_test/data')->getCollection();
?>
<?php
if (!$dataCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('No data') ?></p>
<?php else: ?>
    <div class="data">
        <table>
            <tr>
                <th>value1</th>
                <th>value2</th>
                <th>value3</th>
            </tr>

            <?php
            foreach ($dataCollection as $data) {
                echo '<tr>';
                echo '<td>' . $data->getValue_1() . '</td>';
                echo '<td>' . $data->getValue_2() . '</td>';
                echo '<td>' . $data->getValue_3() . '</td>';
                echo '</tr>';
            }
            ?>
        </table>
    </div>
<?php endif; ?>
